fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
redis[hiredis]
pydantic-settings
pydantic[email]
python-multipart
google-api-python-client
httpx
slowapi
qrcode
Pillow
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0
sendgrid
loguru
gunicorn
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
alembic
psycopg2-binary
smsir-python
phonenumbers
aiosmtplib>=1.1.6
email-validator
jinja2