fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
redis[hiredis]
pydantic-settings
passlib[bcrypt]==5.3.1
python-jose[cryptography]==3.3.0
pydantic[email]
python-multipart
google-api-python-client
httpx
slowapi
qrcode
Pillow
bcrypt==4.1.2